@model MolinaInmobilaria.Models.Contrato

@{
    ViewData["Title"] = "Crear";
    
    string min = DateTime.Now.ToString("yyyy-MM-dd");
    string minExpiracion = DateTime.Now.AddMonths(1).ToString("yyyy-MM");
    
}

<h1>Crear</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if(ViewBag.inmueblesOcupados != null || ViewBag.inmueblesOcupados != 0){
                List<string> data = new List<string>();
                string inf;
                foreach (var item in ViewBag.inmueblesOcupados)
                {
                    inf = "Este Inmueble esta ocupado desde " + item.FechaInicio.ToString("yyyy-MM-dd") + " hasta " + item.FechaExpiracion.ToString("yyyy-MM-dd");
                    data.Add(inf);

                }
                ViewBag.Informacion = data;
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Id_Inquilino" class="control-label">Seleccione el Dni del inquilino.</label>
                @*<input asp-for="Id_Inquilino" class="form-control" />*@
                <select asp-for="Id_Inquilino" class="form-select">
                    @foreach (var item in ViewBag.inquilino)
                    {
                        <option value="@item.Id"> @item.Dni</option>
                    }
                    
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Inmueble" class="control-label">Direccion del Inmueble</label>
                <select asp-for="Id_Inmueble" style="appearance: none;" class="form-select">
                    <option selected value="@ViewBag.inmuebles.Id" >@ViewBag.inmuebles.Direccion</option>
                </select>
                <span asp-validation-for="Id_Inmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" min="@min" value="@min"/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad_Cuotas" class="control-label"></label>
               @* <input asp-for="Cantidad_Cuotas" class="form-control"/>*@
               <select asp-for="Cantidad_Cuotas" class="form-select">
                    @for(int x = 1 ; x <= 12 ; x++){

                        <option value="@x">@x</option>
                    }

               </select>
                <span asp-validation-for="Cantidad_Cuotas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
